@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 248 14.4% 98%;
    --foreground: 15 23% 12%;
    --card: 0 0% 100%;
    --card-foreground: 15 23% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 15 23% 12%;
    --primary: 152 70.6% 33.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 15 23% 12%;
    --secondary-foreground: 248 14.4% 98%;
    --muted: 210 11.1% 71.2%;
    --muted-foreground: 15 23% 32%;
    --accent: 152 70.6% 33.1%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 11.1% 88.6%;
    --input: 210 11.1% 88.6%;
    --ring: 152 70.6% 33.1%;
    --chart-1: 152 70.6% 33.1%;
    --chart-2: 15 86.3% 97.3%;
    --chart-3: 210 9.9% 20%;
    --chart-4: 152 50% 60%;
    --chart-5: 152 40% 40%;
    --radius: 0.5rem;
    --sidebar-background: 248 14.4% 98%;
    --sidebar-foreground: 15 23% 12%;
    --sidebar-primary: 152 70.6% 33.1%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 152 70.6% 90%;
    --sidebar-accent-foreground: 152 70.6% 33.1%;
    --sidebar-border: 210 11.1% 88.6%;
    --sidebar-ring: 152 70.6% 33.1%;
  }
  .dark {
    --background: 2 13.3% 3.9%;
    --foreground: 210 11.1% 96%;
    --card: 2 13.3% 10%;
    --card-foreground: 210 11.1% 96%;
    --popover: 2 13.3% 10%;
    --popover-foreground: 210 11.1% 96%;
    --primary: 152 71.4% 51.8%;
    --primary-foreground: 15 23% 12%;
    --secondary: 2 13.3% 20%;
    --secondary-foreground: 210 11.1% 96%;
    --muted: 2 13.3% 35%;
    --muted-foreground: 210 11.1% 65%;
    --accent: 152 71.4% 51.8%;
    --accent-foreground: 15 23% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 2 13.3% 20%;
    --input: 2 13.3% 20%;
    --ring: 152 71.4% 51.8%;
    --chart-1: 152 71.4% 51.8%;
    --chart-2: 210 11.1% 96%;
    --chart-3: 2 13.3% 40%;
    --chart-4: 152 71.4% 40%;
    --chart-5: 152 71.4% 60%;
    --sidebar-background: 2 13.3% 3.9%;
    --sidebar-foreground: 210 11.1% 96%;
    --sidebar-primary: 152 71.4% 51.8%;
    --sidebar-primary-foreground: 15 23% 12%;
    --sidebar-accent: 2 13.3% 20%;
    --sidebar-accent-foreground: 152 71.4% 51.8%;
    --sidebar-border: 2 13.3% 20%;
    --sidebar-ring: 152 71.4% 51.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
